/* General Styles */
.navBar-container-all {
    display: flex;
    flex-direction: column;
   
}

.navBar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    list-style: none;
    background-color: var(--color5);
    transition: transform 0.3s ease;
    position: fixed;
    padding: 10px 20px;
    margin: 0;
    z-index: 1000; 
}

/* Estilos para los elementos internos */
.logo-navBar {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 30%;
    transition: transform .3s;
}

.logo {
    width: 5vw;
    border-radius: 100%;
    transition: transform .3s;
}

.logo-nombre {
    width: 6vw;
    transition: transform .3s;
    padding: 0;
    margin: 0;
}
.texto-enlaces {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.texto-enlaces a,.texto-enlaces li{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.texto-enlaces h1 {
    font-size: 1.3rem;
    font-family: 'Pathway Gothic One-Regular';
    padding: 5px 10px;
    border-radius: 8px;
}

.carrito-icon {
    position: relative;
}


.carrito-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

.icon-whatsapp {
    color: rgb(4, 245, 4);
    font-size: 2rem;
    border-radius: 100%;
    cursor: pointer;
}

.icon-whatsapp:hover {
    zoom: 1px;
    box-shadow: 2px 2px rgb(107, 149, 107);
    height: 35px;
}
.btn-contacto-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    padding: 5px;
}

.banner {
 margin-top: 90px;
    background-color: rgba(217, 213, 213, 0.52);
    padding: 20px;
    text-align: center;
}

.banner h3,
.banner h1 {
    font-family: 'Pathway Gothic One-Regular';
    color: rgba(64, 63, 63, 0.52);
    margin: 10px;
}

.banner h1 {
    font-size: 3rem;
}

.banner h3 {
    font-size: 1.5rem;
}


nav .dropdown-side .dropdown-menu{
    background-color: var(--color5);
    width: 20vw;
    height: auto;
    margin-top: 10px;
  }

  .dropdown-side .drop-item{
    text-decoration: none;
    padding: 10px 20px;
 
  }

/* Estilos específicos para pantallas móviles */
@media (max-width: 768px) {
 
    
    .dropdown-side .dropdown-menu {
    
        opacity: 0;
        top: 0;
        margin-left: 0.5rem;
    }
    
    .dropdown-side.show .dropdown-menu {
        transform: translateX(0);
        opacity: 1;
    }
    
    
.menu-icon {
    background-color: var(--color5);
   max-height: 20vh;
}
    .icon-hamb {
    font-size: 4rem; /* Cambia este valor al tamaño deseado */
    width: 24px; /* Esto también cambia el tamaño del icono */
    height: 24px;
    margin: 10px;
   
    }
    .navBar-container-all {
       height: 5vh;
       display: flex;
       
    }
    /* Oculta la barra de navegación original en móviles por defecto */
    .navBar-container {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--color5);
        padding: 20px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 150;
        
    }
   
    /* Muestra la barra de navegación cuando se abre el menú hamburguesa */
    .navBar-container.open {
        display: flex;
        
        
    }

    .texto-enlaces {
        flex-direction: column;
        gap: 15px;
    }

    .logo-nombre{
        width: 20vw;
    }
    .btn-contacto-login {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
        width: 50vw;
    }

    .contactanos{
        width: 100%;
    }

.banner {
    margin-top: 0px;
       background-color: rgba(217, 213, 213, 0.52);
       padding: 20px;
       text-align: center;
       height: 15vh;
   }

.banner h3,
.banner h1 {
    font-family: 'Pathway Gothic One-Regular';
    color: rgba(64, 63, 63, 0.52);
    margin: 10px;
}

.banner h1 {
    font-size: 1rem;
}

.banner h3 {
    font-size: 0.5rem;
}
}

/* Estilos específicos para pantallas de escritorio */
@media (min-width: 769px) {
    .navBar-container {
        display: flex; /* Asegura que la barra de navegación sea visible en pantallas grandes */
    }
}
