.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.cards-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 20vw;
  /* Tamaño fijo de las tarjetas */
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  transition: transform 0.3s ease;
}

.cards-item img {
  width: 100%;
  /* Asegura que la imagen cubra todo el ancho del contenedor */
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.titulo{
  width: 100%;
  overflow: hidden;
}
.cards-stock h1 {
  font-family: 'Pathway Gothic One-Regular';
  font-size: 1.5rem;
  padding-top: 5px;
}

.titulo p,
.titulo h3 {
  font-family: "Inika", serif;
  font-size: 1.2rem;
}

.titulo h3,
.titulo h1 {
  font-weight: bold;
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .titulo h1 {
    font-size: 1.2rem;
  }

  .titulo p,
  .titulo h3 {
    font-size: 0.8rem;
  }
  .cards-item {
    width: 40vw;
  }
}

